<div class="container mt-5">
      <div class="row text-center">
          <h2 class="title">ENCUENTRA TU JUEGO</h2>
      </div>

    <div class="row" >
      <div class="col-xl-4">
        <h6>Buscar por título</h6>
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 border">
          <div class="input-group">
              <input type="search" placeholder="Titulo de de juego" class="form-control border-0 bg-light rounded rounded-pill" #nombre>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <h6>Filtrar por edad</h6>
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 border">
          <div class="input-group">
            <select class="form-control border-0 bg-light rounded rounded-pill" id="exampleFormControlSelect1" #pegi>
              <option value="3">PEGI 3</option>
              <option value="7">PEGI 7</option>
              <option value="12">PEGI 12</option>
              <option value="16">PEGI 16</option>
              <option value="18">PEGI 18</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <h6>Filtrar por plataforma</h6>
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 border">
          <div class="input-group">
            <select class="form-control border-0 bg-light rounded rounded-pill" id="exampleFormControlSelect1" #platform>
              <option value="pc">PC</option>
              <option value="ps4">PS4</option>
              <option value="ps5">PS5 </option>
              <option value="switch">NSW</option>
              <option value="xbox_one">XONE</option>
              <option value="xbox_series">XSXS</option>
            </select>
          </div>
        </div>
      </div>
    <div class="row button-container">
      <div class="text-center">
        <button class="btn btn-rosado crearCharla mt-1" (click)="buscar(nombre.value, pegi.value, platform.value)">Buscar</button>
    </div>
    </div>
    <div class="row mt-3">
      <hr>
    </div>
    <div class="row button-container justify-content-center text-center"  *ngIf="notFound;else newGame">
      <div class="col-md-3 fade-in"  *ngFor="let game of gameVarios" >
          <div>
            <img alt="picture" src="{{game.caratula}}" routerLink="/paginajuego" class="img-fluid imagenTop">
            <br>
             <span id="game">{{game.nombre}}</span>
             <br>
             <img class="pegi" src="{{game.pegiURL}}">
            <br>
            <span><b>{{game.plataforma}}</b><b  id="plataforma"></b></span>
            <br>
          </div>
        </div>
  </div>

    <ng-template #newGame>
        <div class="row text-center">

                 <p>¿No encuentras el juego que buscas? ¡Escuchamos tus propuestas!
                   <button mat-icon-button color="basic"><mat-icon routerLink="/sugerirjuego">create</mat-icon></button>
                  </p>

        </div>
    </ng-template>

</div>


