h6 {
  text-align: center;
}

.page-container {
  width: 100%;
  justify-content: center;
  position: relative;
}

.caratulaBusqueda {
  height: 150px;
}

.btn-rosado {
  color: #ded4f1;
  background-color: #371a6d;
  border-color: #371a6d;
}

.btn-rosado:hover {
  color: #371a6d;
  background-color: #ffffff;
}

.title {
  margin-bottom: 3%;
}

.button-container {
  margin-left: 1%;
}

.imagenTop:hover {
  transform: scale(1.08);
}

.imagenTop {
  transition: transform .25s ease;
}

.gametitle {
  font-weight: 500;
}

.pegi {
  width: 30px;
  margin-top: 2%;
}

.imagenTop {
  width: 150px;
  height: 209px;
  margin-bottom: 3.5%;
  border: 3px solid #371a6d;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
