h6 {
  text-align: center;
}

.caratulaBusqueda {
  height: 150px;
}

.btn-rosado {
  color: #ded4f1;
  background-color: #371a6d;
  border-color: #371a6d;
}

.title {
  margin-bottom: 3%;
}

.imagenTop:hover {
  transform: scale(1.08);
}

.imagenTop {
  transition: transform .25s ease;
}

.pegi {
  width: 30px;
}

.imagenTop {
  width: 166px;
  height: 209px;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
