<div class="d-flex align-items-sm-center page-container" >

    <div class="login-container">

      <div class="left-container">
        <div class="img-container"></div>

      </div>
      <div class="form-container">
        <div class="logo-container">
          <img class ="logo" src="/../../assets/logo/bpchildlefty.regular.png">
        </div>

        <div class="form-wrapper">
          <h3>Únete y disfruta de funcionalidades exclusivas.</h3>
          <h3>Y además, inscríbete y participa en charlas educativas.</h3>

          <form class="f2-wrapper">
            <div class="row">
                <div class="col-4">
                <label for="password"><h6>Nombre</h6></label>
                  <input type="text" class="form-control" placeholder="Juan">
                </div>
                <div class="col-4">
                <label for="password"><h6>Apellido</h6></label>
                  <input type="text" class="form-control" placeholder="García">
                </div>
              </div>

              <div class="form-group age-input mb-2 col-5">
                <label><h6>Nº de hijos:</h6></label>
              <select class="btn btn-mini">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4+</option>
              </select>
              </div>
            <div class="form-group mb-2">
              <label for="email"><h6>Correo Electrónico</h6></label>
              <input class="form-control" placeholder="Email...">
            </div>
            <div class="form-group mb-2">
              <label for="password"><h6>Contraseña</h6></label>
              <input type="password" class="form-control" placeholder="***********">
            </div>
            <div class="form-group mb-2">
              <label for="password"><h6>Confirmar contraseña</h6></label>
              <input type="password" class="form-control" placeholder="***********">
            </div>

            <div class="form-group mb-4">
              <button type="button" class="btn register-button">Registrar</button>
            </div>
          </form>
         <h4>¿Ya tienes una cuenta? </h4><a routerLink="/login"><h5>Inicia sesión.</h5></a>
        </div>

      </div>

    </div>

</div>
