a {
  color: #371a6d;
  text-decoration: none;
}

a:hover {
  color: #ded4f1;
}

h3 {
  font-size: 1.1em;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h4 {
  font-size: 0.8em;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline;
}

h5 {
  font-size: 0.85em;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline;
}

h6 {
  font-size: 0.95em;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-container {
  height: 73.5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
}

.login-container {
  height: 98%;
  width: 75%;
  background-color: #ffffff;
  border-radius: 35px;
  box-shadow: 1px 9px 6px -6px rgb(170, 169, 169);
}

.left-container {
  background-image: url('/../../assets/register-img/family-fun.png');
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  border-radius: 35px 0 0 35px;
  height: 100%;
  width: 38%;
  padding-bottom: 3%;
}

.form-container {
  width: 62%;
  padding-top: 1%;
  display: inline-block
}

.form-group {
  width: 50%;
}

.form-control {
  border-radius: 10px;
}

.logo-container {
  background-repeat: no-repeat;
  height: 85px;
}

.logo {
  height: 65%;
  display: block;
  margin: auto;
}

.form-wrapper {
  margin-top: 1%;
  padding-left: 15%;
}

.f2-wrapper {
  margin-top: 2%;
}

.register-button {
  color: #ded4f1;
  background-color: #371a6d;
  border-color: #371a6d;
  display: block;
  width: auto;
}

.register-button:hover {
  color: #371a6d;
  background-color: #ffffff;
}

.row {
  margin-bottom: 2%;
}

.btn-mini {
  border-color: #ced4da;
  margin-left: 2%;
}

@media (max-width: 1626px) and (min-width: 1025px) {

  h3 {
    font-size: 1em;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: none;
  }

  .left-container {
    display: none;
  }

  .login-container {
    height: 98%;
    width: 50%;
    padding-left: 0%;
  }

  .page-container {
    height: 80%;
    margin-top: 0%;
  }

  .form-container {
    width: 100%;
    padding-top: 1%;
    display: inline-block
  }

}

@media (max-width: 1025px) and (min-width: 768px) {

  .page-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
  }

  h3 {
    font-size: 1em;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .left-container {
    display: none;
  }

  .login-container {
    height: 100%;
    width: 70%;
    padding-bottom: 4%;
  }

  .form-container {
    width: 100%;
    padding-top: 2%;
    display: inline-block
  }

  .form-wrapper {
    margin-top: 0%;
    padding-left: 15%;
  }

  .f2-wrapper {
    margin-top: 0%;
  }
}

@media (max-width: 767px) and (min-width: 280px) {

  .page-container {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
  }

  h3 {
    font-size: 0.7em;
    font-weight: 500;
  }

  h6 {
    font-size: 0.9em;
  }

  .left-container {
    display: none;
  }

  .login-container {
    height: 100%;
    width: 85%;
    padding-top: 2%;
    padding-bottom: 4%;
  }

  .form-container {
    width: 100%;
    padding-top: 1%;
  }

  .form-group {
    width: 60%;
  }

  .form-wrapper {
    margin-top: 1%;
    padding-left: 16%;
  }

  .form-control {
    width: 120%;
  }

  .logo {
    height: 60%;
  }

  .message {
    display: none;
  }

  .logo-container {
    background-repeat: no-repeat;
    height: 65px;
  }

}
