<div class="card-deck d-flex align-items page-container">

  <div class="login-container d-flex justify-content-around col-xl-9 col-lg-10 col-md-12 col-sm-12 col-xs-12 card-deck">
<!-- 
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-xs-12 taught card" style="overflow-y:scroll;">
      <div class="courses-text-container">
        <h3 class="courses-text">Charlas impartidas</h3>
      </div>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">¿Qué es el Fornite?</h5>
            <small class="text-muted">Fecha</small>
          </div>
          <p class="mb-1">Johnny Mentero</p>
          <small class="text-muted">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
            varius blandit.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Animal Crossing para animales.</h5>
            <small class="text-muted">Fecha</small>
          </div>
          <p class="mb-1">Eddie Ficcio</p>
          <small class="text-muted">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
            varius blandit.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Dieta para adictos</h5>
            <small class="text-muted">Fecha</small>
          </div>
          <p class="mb-1">Ben Dover Duras</p>
          <small class="text-muted">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
            varius blandit.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Micropagos = adios ahorros</h5>
            <small class="text-muted">Fecha</small>
          </div>
          <p class="mb-1">Kevin Vives</p>
          <small class="text-muted">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
            varius blandit.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Gestión de la frustración</h5>
            <small class="text-muted">Fecha</small>
          </div>
          <p class="mb-1">Alba Ranco</p>
          <small class="text-muted">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
            varius blandit.</small>
        </a>
      </div>

    </div> -->

    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-xs-12 profile-container card">
      <div class="my-profile">
        <h3>Mi Perfil</h3>
      </div>
      <div class="pic-container">
        <img class="profile-picture"
          src="https://meetanentrepreneur.lu/wp-content/uploads/2019/08/profil-linkedin-300x300.jpg">
      </div>
      <div class="profile-info">
        <div class="name-surname">
          <h3>Johnny </h3>
          <h3>Mentero</h3>
        </div>
        <div class="other-info">
          <h4>caniplay@caniplay.gg</h4>
        </div>
        <div class="other-info">
          <h4>Nº de hijos: </h4>
          <h4>7</h4>
        </div>
        <div class="other-info suggest">
          <h5>¿No has encontrado lo que buscas?</h5>
        </div>
        <div class="other-info">
          <button type="button" class="btn btn-outline-dark" routerLink="">Sugerir juego</button>
        </div>

      </div>
    </div>

    <!-- <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-xs-12 attended card" style="overflow-y:scroll;">
      <div class="courses-text-container">
        <h3 class="courses-text">Charlas atendidas</h3>
      </div>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">¿Qué es el Fornite?</h5>
            <small class="text-muted">Fecha</small>
          </div>
          <p class="mb-1">Johnny Mentero</p>
          <small class="text-muted">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
            varius blandit.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Vocabulario "gamer", bro.</h5>
            <small class="text-muted">Fecha</small>
          </div>
          <p class="mb-1">Johnny Mentero</p>
          <small class="text-muted">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
            varius blandit.</small>
        </a>
      </div> -->
      <div class="menuProfile">     
         <mat-tab-group mat-align-tabs="start" style="overflow-y: auto; height:500px; ">
        <mat-tab label="Charlas atendidas">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">¿Qué es el Fornite?</h5>
                <small class="text-muted">Fecha</small>
              </div>
              <p class="mb-1">Johnny Mentero</p>
              <small class="text-muted">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                varius blandit.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Vocabulario "gamer", bro.</h5>
                <small class="text-muted">Fecha</small>
              </div>
              <p class="mb-1">Johnny Mentero</p>
              <small class="text-muted">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                varius blandit.</small>
            </a>
          </div> 
        </mat-tab>
        <mat-tab label="Charlas impartidas">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">¿Qué es el Fornite?</h5>
                <small class="text-muted">Fecha</small>
              </div>
              <p class="mb-1">Johnny Mentero</p>
              <small class="text-muted">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                varius blandit.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Animal Crossing para animales.</h5>
                <small class="text-muted">Fecha</small>
              </div>
              <p class="mb-1">Eddie Ficcio</p>
              <small class="text-muted">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                varius blandit.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Dieta para adictos</h5>
                <small class="text-muted">Fecha</small>
              </div>
              <p class="mb-1">Ben Dover Duras</p>
              <small class="text-muted">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                varius blandit.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Micropagos = adios ahorros</h5>
                <small class="text-muted">Fecha</small>
              </div>
              <p class="mb-1">Kevin Vives</p>
              <small class="text-muted">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                varius blandit.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Gestión de la frustración</h5>
                <small class="text-muted">Fecha</small>
              </div>
              <p class="mb-1">Alba Ranco</p>
              <small class="text-muted">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                varius blandit.</small>
            </a>
          </div>
        </mat-tab>
        
      </mat-tab-group>
    </div>


    </div>

  </div>
