<h1 class="text-center">CONSEJOS PARA PADRES Y MADRES </h1>


<div class="container col-lg-9">
    <div class="row">

        <!--team-1-->
        <div class="col-lg-3">
            <div class="our-team-main">

                <div class="team-front">

                    <i class="fas fa-gamepad fa-5x" style="color: #111111; ;"></i>
                    <h3 class= "participa">DESCUBRE</h3>
                </div>

                <div class="team-back">
                    <span>
                      ¡Sería ideal que pudieras jugar con tus hijos a sus videojuegos favoritos! 
                    </span>
                </div>

            </div>
        </div>
        <!--team-1-->

        <!--team-2-->
        <div class="col-lg-3">
            <div class="our-team-main">

                <div class="team-front">
                    <i class="fas fa-microphone-alt fa-5x" style="color: #b3b3b3;;"></i>
                    <h3>COMUNICACIÓN</h3>
                </div>

                <div class="team-back">
                    <span>
                      Presta atención a tus hijos durante sus sesiones de juego. Asegúrate de conocer el videjuego y pregúntales para saber más de ellos.
                    </span>
                </div>

            </div>
        </div>
        <!--team-2-->

        <!--team-3-->
        <div class="col-lg-3">
            <div class="our-team-main">

                <div class="team-front">
                    <i class="fas fa-hourglass-half fa-5x" style="color: #af9068; ;"></i>
                    <h3>TIEMPO DE JUEGO</h3>

                </div>

                <div class="team-back">
                    <span>
                      Hablad sobre el tiempo de juego y acordad la duración del mismo. Sed estrictos pero no debería haber problema si algún día pasan más rato (o menos)!
                    </span>
                </div>

            </div>
        </div>
        <!--team-3-->

        <!--team-4-->
        <div class="col-lg-3">
            <div class="our-team-main">

                <div class="team-front">
                    <i class="fas fa-exclamation-circle fa-5x" style="color: #c21c1c; ;"></i>
                    <h3>CLASIFICACIÓN PEGI</h3>

                </div>

                <div class="team-back">
                    <span>
                      Las etiquetas de clasificación PEGI en el frontal de las cajas. La clasificación PEGI considera la idoneidad de edad de un juego, no el nivel de dificultad.
                    </span>
                </div>

            </div>
        </div>
        <!--team-4-->

        <!--team-5-->
        <div class="col-lg-3">
            <div class="our-team-main">

                <div class="team-front">
                    <i class="fas fa-users fa-5x" style="color: #6a7dbb;;"></i>
                    <h3>¿MULTIJUGADOR?</h3>

                </div>

                <div class="team-back">
                    <span>
                      Es normal que nuestros hijos quieran jugar online con sus amigos. Conoced a las personas con quienes juegan y, por supuesto, a sus padres.
                    </span>
                </div>

            </div>
        </div>
        <!--team-5-->

        <!--team-6-->
        <div class="col-lg-3">
            <div class="our-team-main">

                <div class="team-front">
                    <i class="far fa-grin-hearts fa-5x" style="color: #d8b000;;"></i>
                    <h3>EFECTOS POSITIVOS</h3>

                </div>

                <div class="team-back">
                    <span>
                      Los videojuegos ayudan a perfeccionar la destreza visual, la curiosidad artística o musical y la visión espacial.
                    </span>
                </div>

            </div>
        </div>
        <!--team-7-->
        <div class="col-lg-3">
            <div class="our-team-main">
        
                <div class="team-front">
                    <i class="fas fa-brain fa-5x" style="color: #929292;;"></i>
                    <h3>EFECTOS POSITIVOS</h3>
        
                </div>
        
                <div class="team-back">
                    <span>
                        Ayudan a asimilar conceptos abstractos como las matemáticas y a potenciar la lógica
                    </span>
                </div>
        
            </div>
        </div>
        <!--team-8-->
        <div class="col-lg-3">
            <div class="our-team-main">
        
                <div class="team-front">
                    <i class="fas fa-book fa-5x" style="color: #437779;;"></i>
                    <h3>COMPRENSION LECTORA</h3>
        
                </div>
        
                <div class="team-back">
                    <span>
                        En los mas peques el desarrollo
                    </span>
                </div>
        
            </div>
        </div>

    </div>
</div>
