<h1 class="text-center">CONSEJOS PARA PADRES Y MADRES </h1>


<div class="container col-lg-9">
    <div class="row">

        <!--team-1-->
        <div class="col-lg-3">
            <div class="our-team-main">

                <div class="team-front">

                    <i class="fas fa-gamepad fa-5x" style="color: #830227 ;"></i>
                    <h3 class= "participa">DESCUBRE</h3>
                </div>

                <div class="team-back">
                    <span>
                        Es ideal que puedas probar el juego con tus hijos. ¡Si jugáis juntos sería genial! Esta será siempre la mejor manera de aprender.
                    </span>
                </div>

            </div>
        </div>
        <!--team-1-->

        <!--team-2-->
        <div class="col-lg-3">
            <div class="our-team-main">

                <div class="team-front">
                    <i class="fas fa-microphone-alt fa-5x" style="color: #830227 ;"></i>
                    <h3>COMUNICACIÓN</h3>
                </div>

                <div class="team-back">
                    <span>
                        Vigile a sus hijos cuando juegan y hable con ellos sobre los juegos que más les gustan. Explique por qué ciertos juegos
                        pueden no ser adecuados.
                    </span>
                </div>

            </div>
        </div>
        <!--team-2-->

        <!--team-3-->
        <div class="col-lg-3">
            <div class="our-team-main">

                <div class="team-front">
                    <i class="fas fa-hourglass-half fa-5x" style="color: #830227 ;"></i>
                    <h3>TIEMPO DE JUEGO</h3>

                </div>

                <div class="team-back">
                    <span>
                        Llegue a un acuerdo con su hijo sobre la cantidad de tiempo que pueden pasar jugando al dia o por semana. El juego tiene que ser una recompensa.
                    </span>
                </div>

            </div>
        </div>
        <!--team-3-->

        <!--team-4-->
        <div class="col-lg-3">
            <div class="our-team-main">

                <div class="team-front">
                    <i class="fas fa-exclamation-circle fa-5x" style="color: #830227 ;"></i>
                    <h3>CLASIFICACIÓN PEGI</h3>

                </div>

                <div class="team-back">
                    <span>
                        Siempre busque la clasificación de edad en el paquete del juego o en la tienda digital. La clasificación PEGI considera la idoneidad de edad de un juego, no el nivel de dificultad
                    </span>
                </div>

            </div>
        </div>
        <!--team-4-->

        <!--team-5-->
        <div class="col-lg-3">
            <div class="our-team-main">

                <div class="team-front">
                    <i class="fas fa-users fa-5x" style="color: #830227 ;"></i>
                    <h3>¿MULTIJUGADOR?</h3>

                </div>

                <div class="team-back">
                    <span>
                        ¿Los videojuegos ya no son cosa de niños por lo que si no quiere que su hijo se vea involucrado en conversaciones poco recomendables para su edad, algo3muy importante es saber con quién juega su hijo?
                    </span>
                </div>

            </div>
        </div>
        <!--team-5-->

        <!--team-6-->
        <div class="col-lg-3">
            <div class="our-team-main">

                <div class="team-front">
                    <i class="far fa-grin-hearts fa-5x" style="color: #830227 ;"></i>
                    <h3>EFECTOS POSITIVOS</h3>

                </div>

                <div class="team-back">
                    <span>
                        Ayudan a asimilar conceptos abstractos como las matemáticas, les permiten perfeccionar la destreza visual, la curiosidad
                        musical o artística.
                    </span>
                </div>

            </div>
        </div>
        <!--team-7-->
        <div class="col-lg-3">
            <div class="our-team-main">
        
                <div class="team-front">
                    <i class="far fa-grin-hearts fa-5x" style="color: #830227 ;"></i>
                    <h3>EFECTOS POSITIVOS</h3>
        
                </div>
        
                <div class="team-back">
                    <span>
                        Ayudan a asimilar conceptos abstractos como las matemáticas, les permiten perfeccionar la destreza
                        visual, la curiosidad
                        musical o artística.
                    </span>
                </div>
        
            </div>
        </div>
        <!--team-8-->
        <div class="col-lg-3">
            <div class="our-team-main">
        
                <div class="team-front">
                    <i class="far fa-grin-hearts fa-5x" style="color: #830227 ;"></i>
                    <h3>EFECTOS POSITIVOS</h3>
        
                </div>
        
                <div class="team-back">
                    <span>
                        Ayudan a asimilar conceptos abstractos como las matemáticas, les permiten perfeccionar la destreza
                        visual, la curiosidad
                        musical o artística.
                    </span>
                </div>
        
            </div>
        </div>

    </div>
</div>
