<div class="page-container">
<h1 class="text-center">CONSEJOS PARA PADRES Y MADRES</h1>
<div class="container col-xl-9 col-lg-12">
    <div class="row">
        <!--team-1-->
        <div class="col-lg-3">
            <div class="our-team-main">
                <div class="team-front">
                    <i class="fas fa-gamepad fa-5x" style="color: #111111; ;"></i>
                    <h3 class= "participa">DESCUBRE</h3>
                </div>
                <div class="team-back">
                    <span>
                      ¡Sería ideal que pudieras jugar con tus hijos a sus videojuegos favoritos! Compartid sesiones de juego para conocer mejor sus preferencias.
                    </span>
                </div>
            </div>
        </div>
        <!--team-2-->
        <div class="col-lg-3">
            <div class="our-team-main">
                <div class="team-front">
                    <i class="fas fa-microphone-alt fa-5x" style="color: #b3b3b3;;"></i>
                    <h3>COMUNICACIÓN</h3>
                </div>
                <div class="team-back">
                    <span>
                      Presta atención a tus hijos durante sus sesiones de juego. Asegúrate de conocer el videjuego y pregúntales para saber más de ellos.
                    </span>
                </div>
            </div>
        </div>
        <!--team-3-->
        <div class="col-lg-3">
            <div class="our-team-main">
                <div class="team-front">
                    <i class="fas fa-hourglass-half fa-5x" style="color: #af9068; ;"></i>
                    <h3>TIEMPO DE JUEGO</h3>
                </div>
                <div class="team-back">
                    <span>
                      Hablad sobre el tiempo de juego y acordad la duración del mismo. ¡No debería haber problema si algún día pasan más rato (o menos)!
                    </span>
                </div>
            </div>
        </div>
        <!--team-4-->
        <div class="col-lg-3">
            <div class="our-team-main">
                <div class="team-front">
                    <i class="fas fa-exclamation-circle fa-5x" style="color: #c21c1c; ;"></i>
                    <h3>CLASIFICACIÓN PEGI</h3>
                </div>
                <div class="team-back">
                    <span>
                      Las etiquetas de clasificación PEGI en el frontal de las cajas. La clasificación PEGI considera la idoneidad de edad de un juego, no el nivel de dificultad.
                    </span>
                </div>
            </div>
        </div>
        <!--team-5-->
        <div class="col-lg-3">
            <div class="our-team-main">
                <div class="team-front">
                    <i class="fas fa-users fa-5x" style="color: #6a7dbb;;"></i>
                    <h3>¿MULTIJUGADOR?</h3>
                </div>
                <div class="team-back">
                    <span>
                      Es normal que nuestros hijos quieran jugar online con sus amigos. Conoced a las personas con quienes juegan y, por supuesto, a sus padres.
                    </span>
                </div>
            </div>
        </div>
        <!--team-6-->
        <div class="col-lg-3">
            <div class="our-team-main">
                <div class="team-front">
                    <i class="far fa-grin-hearts fa-5x" style="color: #d8b000;;"></i>
                    <h3>EFECTOS POSITIVOS</h3>
                </div>
                <div class="team-back">
                    <span>
                      Ayudan a perfeccionar la curiosidad artística o musical y la visión espacial. También mejorarán habilidades psicomotrices y mecánicas.
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="our-team-main">
                <div class="team-front">
                    <i class="fas fa-brain fa-5x" style="color: #929292;;"></i>
                    <h3>EFECTOS POSITIVOS</h3>
                </div>
                <div class="team-back">
                    <span>
                        Ayudan a asimilar conceptos como las matemáticas y a potenciar la lógica. El auge de juegos multijugador facilita su socialización en tiempos de cuarentena.
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="our-team-main">
                <div class="team-front">
                    <i class="fas fa-book fa-5x" style="color: #437779;;"></i>
                    <h3>LECTURA</h3>
                </div>
                <div class="team-back">
                    <span>
                      Seguir la historia de un videojuego ayuda a mejorar la comprensión lectora de nuestros pequeños y facilita la adquisición de un vocabulario.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
