<div class="d-flex align-items-sm-center page-container">

    <div class="login-container">

      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <div class="pic-container"><img class="profile-img" src="/../../assets/about/xavi.png"></div>
            <div class="name-container"><h5 class="card-title">Javier Campos</h5></div>
            <div class="icons-container">
              <div class="twitter-container">
                <a href="http://google.es"><i class="fab fa-twitter fa-lg"></i></a>
              </div>
              <div class="linkedin-container">
                <a href="http://google.es"><i class="fab fa-linkedin fa-lg"></i></a>
              </div>
            </div>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="fav-game">Mi juego favorito es The Legend of Zelda: Breath of the Wild</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="pic-container"><img class="profile-img" src="/../../assets/about/patricia.png"></div>
            <div class="name-container"><h5 class="card-title">Patrícia Marsà</h5></div>
            <div class="icons-container">
              <div class="twitter-container">
                <a href="http://google.es"><i class="fab fa-twitter fa-lg"></i></a>
              </div>
              <div class="linkedin-container">
                <a href="http://google.es"><i class="fab fa-linkedin fa-lg"></i></a>
              </div>
            </div>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="fav-game">Mi juego favorito es Golden Sun </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="pic-container"><img class="profile-img" src="/../../assets/about/yaiza.png"></div>
            <div class="name-container"><h5 class="card-title">Yaiza García</h5></div>
            <div class="icons-container">
              <div class="twitter-container">
                <a href="http://google.es"><i class="fab fa-twitter fa-lg"></i></a>
              </div>
              <div class="linkedin-container">
                <a href="http://google.es"><i class="fab fa-linkedin fa-lg"></i></a>
              </div>
            </div>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="fav-game">Mi juego favorito es The Last of Us</p>
          </div>
        </div>
      </div>

    </div>

</div>
