<div class="align-items-sm-center page-container col-xs-12">

    <div class="login-container card-xl-10">
      <h3 class="page-title">Conócenos</h3>

      <div class="card-deck">
        <div class="card col-xs-3">
          <div class="card-body">
            <div class="pic-container"><img class="profile-img" src="/../../assets/about/xavi.png"></div>
            <div class="name-container"><h5 class="card-title">Javier Campos</h5></div>
            <div class="icons-container">
              <div class="twitter-container">
                <a href="http://google.es"><i class="fab fa-twitter fa-lg"></i></a>
              </div>
              <div class="linkedin-container">
                <a href="http://google.es"><i class="fab fa-linkedin fa-lg"></i></a>
              </div>
            </div>
            <p class="card-text">Javier nació en Madrid y estudió Desarrollo de Aplicaciones Multiplataforma. En su tiempo libre disfruta del skate, la fotografía y de Turrón, su sobrino salchicha. Su sueño es vivir cerca de la costa para poder hacer surf siempre que quiera (y que Hayley Williams le haga un concierto privado).</p>
            <p class="fav-game">Su juego favorito es The Binding of Isaac.</p>
          </div>
        </div>
        <div class="card col-xl-4 col-lg-4 col-xs-3">
          <div class="card-body">
            <div class="pic-container"><img class="profile-img" src="/../../assets/about/patricia.png"></div>
            <div class="name-container"><h5 class="card-title">Patrícia Marsà</h5></div>
            <div class="icons-container">
              <div class="twitter-container">
                <a href="http://google.es"><i class="fab fa-twitter fa-lg"></i></a>
              </div>
              <div class="linkedin-container">
                <a href="http://google.es"><i class="fab fa-linkedin fa-lg"></i></a>
              </div>
            </div>
            <p class="card-text">Patrícia nació en Barcelona, estudió Lingüística en la UB y se especializó en fonética. Desde pequeña le han llamado los ordenadores pero sus padres no le dejaban el de casa, así que ahora se ha animado a programar. En su tiempo libre disfruta jugando con perritos y sueña con comerse su propio peso en sushi.</p>
            <p class="fav-game">Su juego favorito es Golden Sun </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="pic-container"><img class="profile-img" src="/../../assets/about/yaiza.png"></div>
            <div class="name-container"><h5 class="card-title">Yaiza García</h5></div>
            <div class="icons-container">
              <div class="twitter-container">
                <a href="http://google.es"><i class="fab fa-twitter fa-lg"></i></a>
              </div>
              <div class="linkedin-container">
                <a href="http://google.es"><i class="fab fa-linkedin fa-lg"></i></a>
              </div>
            </div>
            <p class="card-text">Yaiza trabaja de Educadora Social y además es programadora web. Sus pasiones son el deporte y las tortitas de avena con plátano. Le gustaría crear una aplicación para ayudar a las mujeres sin recursos pero la verdad es que su Macbook Pro no está por la labor, aquí os dejamos su Paypal: macbookparayaiza@gmail.com</p>
            <p class="fav-game">Su juego favorito es The Last of Us</p>
          </div>
        </div>
      </div>

    </div>

</div>
