<div class="d-flex align-items-sm-center page-container" >

    <div class="addgame-container">

      <div class="left-container">
        <h3>Imágenes del juego</h3>
          <div class="row mt-4 ml-2">
            <label for="caratula"><h6>Carátula del juego</h6></label>
            <input type="text" class="form-control mb-1" placeholder="Inserte la url de la imagen" [(ngModel)]="urlCaratula">
          </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 mt-4 ml-2">

                <img *ngIf="urlCaratula === ''; else imgExiste" class="caratula" src="https://www.evisionstore.com/images/notfound.png" alt="">
                <ng-template #imgExiste>
                    <img  class="caratula" src="{{urlCaratula}}" alt="">
                </ng-template>
            </div>
            <div class=" col-xl-5 img-container mt-4 ml-2">
                <div class="grupo-pantallazos mr-3 ">

                    <img class="pantallazos" src="https://images-na.ssl-images-amazon.com/images/I/81OY2Tnp5XL._AC_SL1500_.jpg">
                    <img class="pantallazos" src="https://images-na.ssl-images-amazon.com/images/I/71214JYG-tL._AC_SL1500_.jpg">
                    <br>
                    <img class="pantallazos" src="https://images-na.ssl-images-amazon.com/images/I/81OY2Tnp5XL._AC_SL1500_.jpg">
                    <img class="pantallazos" src="https://images-na.ssl-images-amazon.com/images/I/71214JYG-tL._AC_SL1500_.jpg">
                </div>
            </div>
        </div>
        <div class="img-container mt-4 ml-2">
            <label for="caratula"><h6>Imágenes del juego</h6></label>
            <input type="text" class="form-control mb-1" placeholder="Screenshot 1">
            <input type="text" class="form-control mb-1" placeholder="Screenshot 2">
            <input type="text" class="form-control mb-1" placeholder="Screenshot 3">
            <input type="text" class="form-control mb-1" placeholder="Screenshot 4">
        </div>

      </div>

      <div class="form-container">
        <h3>Datos del juego</h3>

        <div class="form-wrapper">

          <form class="f2-wrapper">
            <div class="row">
                <div class="col-4">
                <label for="titulo"><h6>Título del juego</h6></label>
                  <input type="text" class="form-control" placeholder="">
                </div>
                <div class="col-4">
                <label for="password"><h6>Género</h6></label>
                  <input type="text" class="form-control" placeholder="Accion/Deportes/Musical">
                </div>
              </div>

              <div class="form-group age-input mb-2 col-5">
                <label><h6>Categoría PEGI</h6></label>
              <select class="btn btn-mini">
                <option>3</option>
                <option>7</option>
                <option>12</option>
                <option>16</option>
                <option>18</option>
              </select>
              </div>

            <div class="form-group mb-2">
              <label for="text"><h6>Plataformas disponibles</h6></label>
              <input class="form-control"  type="text" placeholder="Xbox/Switch/PC">
            </div>
            <div class="row game-cards">
                <div class="col-5">
                    <div>
                        <b><span class="spanJuegos">Nº de jugadores</span></b>
                        <br>
                        <br>
                        <input class="mr-2" type="radio" id="single" name="players" value="Single Player">
                        <label for="male">Single player</label><br>
                        <input class="mr-2"  type="radio" id="multioffline" name="players" value="Multi Player">
                        <label for="male">Multiplayer offline</label><br>
                        <input class="mr-2"  type="radio" id="multionline" name="players" value="Multi Player">
                        <label for="male">Multiplayer online</label><br>
                    </div>
                </div>
                <div class="col-5">
                    <div>
                        <b><span class="spanJuegos">Tipo de contenido</span></b>
                        <br>
                        <br>
                        <input class="mr-2"  type="radio" id="adulto" name="contenido" value="adultor">
                        <label for="male">Contenido adulto</label><br>
                        <input class="mr-2"  type="radio" id="infatil" name="contenido" value="infantil">
                        <label for="male">Contenido infantil</label><br>
                    </div>
                </div>
            </div>
            <div class="row game-cards">
                <div class="col-5">
                    <div>
                        <b> <span class="spanJuegos">Internet</span></b>
                        <br>
                        <br>
                        <input class="mr-2"  type="radio" id="internet" name="conexion" value="internet">
                        <label for="male">Requiere conexión a internet</label><br>
                        <input class="mr-2"  type="radio" id="noInternet" name="conexion" value="noInternet">
                        <label for="male">No requiere conexión a internet</label><br>
                    </div>
                </div>
                <div class="col-5">
                    <div>
                        <b> <span class="spanJuegos">Pagos</span></b>
                        <br>
                        <br>
                        <input class="mr-2"  type="radio" id="pagos" name="pagos" value="pagos">
                        <label for="male">Contiene pagos online </label><br>
                        <input class="mr-2"  type="radio" id="noPagos" name="pagos" value="nopagos">
                        <label for="male">No contiene pagos online</label><br>
                    </div>
                </div>
            </div>
            <div class="form-group mb-4">
              <button type="button" class="btn register-button">Añadir</button>
            </div>
          </form>
        </div>

      </div>

    </div>

</div>
