<div class="d-flex align-items-sm-center page-container" >

    <div class="addgame-container">

      <div class="left-container">
        <h3>Imágenes del juego</h3>
          <div class="row mt-4 ml-2">
            <label for="caratula"><h6>Carátula del juego</h6></label>
            <!-- <input type="text" class="form-control mb-1" placeholder="Inserte la url de la imagen" [(ngModel)]="urlCaratula" #urlCaratula> -->
            <input type="text" class="form-control mb-1" placeholder="Inserte la url de la imagen" #caratula_juego [(ngModel)]="urlCaratula" >
          </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 mt-4 ml-2">

                <img *ngIf="urlCaratula === ''; else imgExiste" class="caratula" src="https://www.evisionstore.com/images/notfound.png" alt="">
                <ng-template #imgExiste>
                    <img  class="caratula" src="{{urlCaratula}}" alt="">
                </ng-template>
            </div>
            <div class=" col-xl-5 img-container mt-4 ml-2">
                <div class="grupo-pantallazos mr-3 ">

                    <img class="pantallazos" src="{{pantallazo1}}">
                    <img class="pantallazos" src="{{pantallazo2}}">
                    <br>
                    <img class="pantallazos" src="{{pantallazo3}}">
                    <img class="pantallazos" src="{{pantallazo4}}">
                </div>
            </div>
        </div>
        <div class="img-container mt-4 ml-2">
            <label for="caratula"><h6>Imágenes del juego</h6></label>
            <input type="text" class="form-control mb-1" placeholder="Screenshot 1" #pantallazo_1  [(ngModel)]="pantallazo1">
            <input type="text" class="form-control mb-1" placeholder="Screenshot 2" #pantallazo_2  [(ngModel)]="pantallazo2">
            <input type="text" class="form-control mb-1" placeholder="Screenshot 3" #pantallazo_3  [(ngModel)]="pantallazo3">
            <input type="text" class="form-control mb-1" placeholder="Screenshot 4" #pantallazo_4  [(ngModel)]="pantallazo4">
        </div>

        <div class="img-container mt-4 ml-2">
            <label for="caratula"><h6>URL de la web oficial del juego</h6></label>
            <input type="text" class="form-control mb-1" placeholder="Link..." #web_oficial>
        </div>
      </div>

      <div class="form-container">
        <h3>Datos del juego</h3>

        <div class="form-wrapper">
          <form class="f2-wrapper">
            <div class="mini-wrapper">
            <div class="mini-left-container">
                <div class="col-9">
                <label for="titulo"><h6>Título del juego</h6></label>
                  <input type="text" class="form-control" placeholder="" #titulo_juego>
                </div>
                <div class="col-5 mt-3">
                <label for="password"><h6>Género</h6></label>
                <br>
                <select class="btn btn-mini" #genero>
                  <option disabled selected>Seleccione una opcion</option>
                  <option>Acción</option>
                  <option>Aventura</option>
                  <option>Deportes</option>
                  <option>Estrategia</option>
                  <option>Educativo</option>
                  <option>Plataformas</option>
                  <option>Puzzles</option>
                  <option>Shooter</option>
                  <option>Simulación</option>
                </select>
                </div>

                <div class="form-group age-input col-5 mb-2 mt-3">
                  <label><h6>Categoría PEGI</h6></label>
                <select class="btn btn-mini" #pegi>
                  <option disabled selected>Seleccione una opcion</option>
                  <option>3</option>
                  <option>7</option>
                  <option>12</option>
                  <option>16</option>
                  <option>18</option>
                </select>
              </div>
            </div>

            <div class="mini-right-container pl-2">
              <ul class="checkbox-items">
                <li *ngFor="let item of checkboxesDataList">
                  <input type="checkbox" class="form-check-input" name="{{item.label}}" [value]="item.label" (change)="getValue($event,item.id)" >
                  <label class="form-check-label">{{item.label}}</label>
                </li>
              </ul>
              
              <!-- <label for="options"><h6>Plataformas disponibles</h6></label>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" #plataforma>
                <label class="form-check-label">PS4</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label">PS5</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label">XBOX Series X/S</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label">XBOX One</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label">Nintendo Switch</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label">PC</label>
              </div> -->
            </div>
          </div>

            <div class="row game-cards">
                <div class="col-5">
                    <div>
                        <b><span class="spanJuegos">Nº de jugadores</span></b>
                        <br>
                        <br>
                        <select class="btn btn-mini" #tarjeta_jugador>
                          <option disabled selected>Seleccione una opcion</option>
                          <option>Single player</option>
                          <option>Single/multiplayer</option>
                          <option>Multiplayer offline</option>
                          <option>Multiplayer online</option>
                        </select>
                    </div>
                </div>
                <div class="col-5">
                  <div>
                      <b> <span class="spanJuegos">Pagos</span></b>
                      <br>
                      <br>
                      <select class="btn btn-mini" #tarjeta_pagos>
                        <option disabled selected>Seleccione una opcion</option>
                      <option>Contiene pagos online opcionales</option>
                      <option>No contiene pagos online</option>
                      <option>Requiere suscripción (con opción a pagos)</option>
                    </select>
                  </div>
              </div>
            </div>
            <div class="row game-cards">
                <div class="col-5">
                  <div>
                      <b><span class="spanJuegos">Tipo de contenido</span></b>
                      <br>
                      <br>
                      <select class="btn btn-mini" #tarjeta_contenido>
                        <option disabled selected>Seleccione una opcion</option>
                        <option>Contenido apto para niños</option>
                        <option>Contenido moderado</option>
                        <option>Contenido adulto</option>
                      </select>
                  </div>
              </div>
              <div class="col-5">
                <div>
                    <b> <span class="spanJuegos">Internet</span></b>
                    <br>
                    <br>
                    <select class="btn btn-mini" #tarjeta_internet>

                    <option>No requiere conexión a internet</option>
                    <option>Requiere conexión a internet</option>
                    <option>Mejor experiencia con conexión a internet</option>
                  </select>
                </div>
            </div>
            </div>
            <div class="form-group mb-4">


<!-- ------------------------COMENTADO PARA QUE NO PETE-----------> 
<!-- // id_juego: number, titulo_juego: string, genero: string, pegi: number, plataforma:string [],
//   tarjeta_jugador: string, tarjeta_pagos: string, tarjeta_contenido: string, tarjeta_internet: string,
//   caratula_juego: string, pantallazo1: string, pantallazo2: string, pantallazo3: string, pantallazo4: string,
//   votos: number, puntuacionTotal: number, web_oficial: string -->
          <button type="button" class="btn register-button" (click)="addJuego(titulo_juego.value,genero.value, pegi.value, tarjeta_jugador.value,
          tarjeta_pagos.value, tarjeta_contenido.value, tarjeta_internet.value, caratula_juego.value, pantallazo_1.value,
           pantallazo_2.value, pantallazo_3.value, pantallazo_4.value, web_oficial.value)">Añadir</button>
               <!-- <button type="button" class="btn register-button" (click)="addJuego()"></button> -->

<!-- ------------------------COMENTADO PARA QUE NO PETE----------->

            </div>
          </form>

      </div>

    </div>

</div>