.caratula {
  height: 275px;
  border: 1px solid black;
}

.pantallazos {
  width: 160px;
  height: 80px;
  margin-left: 5px;
  margin-top: 5px;
  border: 1px solid black;

}

.grupo-pantallazos {
  float: right;
}

h3 {
  font-size: 2em;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  padding-top: 4%;
}

h4 {
  font-size: 0.8em;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline;
}

h5 {
  font-size: 0.85em;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline;
}

h6 {
  font-size: 0.95em;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-container {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.addgame-container {
  height: 95%;
  width: 80%;
  background-color: #ffffff;
  border-radius: 35px;
  box-shadow: 1px 9px 6px -6px rgb(170, 169, 169);
  padding-left: 3%;
}

.left-container {
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  border-radius: 35px 0 0 35px;
  height: 100%;
  width: 38%;
}

.form-container {
  width: 60%;
  float: right;
  margin-left: 2%;
}

.form-group {
  width: 50%;
}

.form-control {
  border-radius: 10px;
}

.logo-container {
  background-repeat: no-repeat;
  height: 85px;
}

.logo {
  height: 65%;
  display: block;
  margin: auto;
}

.form-wrapper {
  padding-left: 15%;
  border-left-style: solid;
  border-left-color: #cececf;

}

.f2-wrapper {
  margin-top: 5%;
}

.game-cards {
  padding-top: 4%;
}

.register-button {
  color: #ffffff;
  background-color: #371a6d;
  border-color: #371a6d;
  display: block;
}

.row {
  margin-bottom: 2%;
}

.btn-mini {
  border-color: #ced4da;
  margin-left: 2%;
}

.register-button:hover {
  color: #371a6d;
  background-color: #ffffff;
}

@media (max-width: 1025px) and (min-width: 768px) {

  .page-container {
    height: auto;
  }

  /* .left-container {
      display: none;
    } */
  .addgame-container {
    height: 80%;
  }

  .login-container {
    height: 80%;
    width: 65%;
  }

  .form-container {
    width: 100%;
    padding-top: 8%;
    /* display: inline-block */
  }

}

@media (max-width: 767px) and (min-width: 280px) {
  .page-container {
    height: auto;
  }

  .addgame-container {
    height: auto;
  }

  h3 {
    font-size: 0.9em;
    font-weight: 500;
  }

  h6 {
    font-size: 0.9em;
  }

  /* .left-container {
      display: none;
    } */

  .login-container {
    height: 75%;
    width: 85%;
  }

  .form-container {
    width: 100%;
    padding-top: 6%;
  }

  .form-group {
    width: 60%;
  }

  .form-wrapper {
    margin-top: 2%;
    padding-left: 16%;
  }

  .form-control {
    width: 120%;
  }

}


@media (max-width: 767px) and (min-width: 280px) {}

@media (max-width: 1650px) and (min-width: 280px) {

  .caratula {
    height: 150px;
  }

  .pantallazos {
    width: 90px;
    height: 45px;
    margin-left: 5px;
    margin-top: 5px;
  }

  .grupo-pantallazos {
    float: right;
  }

  .page-container {
    height: auto;
  }
}
