<div class="container mt-5">
    <div class="row text-center">
        <h5>Cómo dicen que el saber no ocupa lugar...</h5>
        <h2>APÚNTATE A NUESTRAS CHARLAS</h2>
    </div>
    <!-- <p><a class="nav-link" routerLink="/crearcharla">crearcharla</a></p> -->
   
    <!-- <p><a class="nav-link" routerLink="/crearcharla">crearcharla</a></p> -->

    <div class="row justify-content-center mt-2">
        <div class="col-xl-6">
            <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                <div class="input-group">
                    <input type="search" placeholder="Titulo de charla" class="form-control border-0 bg-light">
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-xl-3">
            <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                <div class="input-group">

                    <input type="date" class="form-control border-0 bg-light" value="13-12-2020" min="2018-01-01"max="2020-12-31">

                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-rosado crearCharla mt-1"  routerLink="/crearcharla">Crear charla</button>
    </div>
    <hr>
    <div class="row  text-center mt-5">
        <div class="col-xl-4 col-xs-12 col-md-6  grow-rotate-on-hover">
            <h5 class="">14-12-2020</h5>
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent">Jane McGonigal</div>
                <div class="card-body ">
                    <h5 class="card-title">Videojuegos para un mundo mejor.</h5>
                    <p class="card-text">¡Imaginad aprovechar el poder de los videojuegos para resolver problemas diarios!</p>
                </div>
                <div class="card-footer bg-transparent">
                    <div class="row">
                        <div class="col-6">
                                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"  routerLink="/chat">
                                  <mat-icon>sms</mat-icon>
                                </button>  
                        </div>
                        <div class="col-6">
                            <button class="btn btn-rosado" data-toggle="modal" data-target="#exampleModalLong">Ver más</button>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-xs-12 col-md-6   grow-rotate-on-hover-center">
            <h5 class="">15-12-2020</h5>
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent">Karoliina Korppoo</div>
                <div class="card-body ">
                    <h5 class="card-title">Mejores ciudades con Cities: Skylines</h5>
                    <p class="card-text">¡Aprendamos con Karoliina y Cities: Skylines a mejorar las ciudades del mañana!</p>
                </div>
                <div class="card-footer bg-transparent">
                                        <div class="row">
                        <div class="col-6">
                                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"  routerLink="/chat">
                                  <mat-icon>sms</mat-icon>
                                </button>  
                        </div>
                        <div class="col-6">
                            <button class="btn btn-rosado" data-toggle="modal" data-target="#exampleModalLong">Ver más</button>
                        </div>            
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-xs-12 col-md-6  grow-rotate-on-hover-left">
            <h5 class="">16-12-2020</h5>
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent">Daphne Bavelier</div>
                <div class="card-body ">
                    <h5 class="card-title">Tu cerebro en los videojuegos</h5>
                    <p class="card-text">¿Cómo afectan los videojuegos al ritmo del cerebro? ¡Descúbrelo con Daphne!</p>
                </div>
                <div class="card-footer bg-transparent">                    <div class="row">
                        <div class="col-6">
                                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"  routerLink="/chat">
                                  <mat-icon>sms</mat-icon>
                                </button>  
                        </div>
                        <div class="col-6">
                            <button class="btn btn-rosado" data-toggle="modal" data-target="#exampleModalLong">Ver más</button>
                        </div>            
                    </div></div>
            </div>
        </div>
        <br>
        <div class="col-xl-4 col-xs-12 col-md-6  grow-rotate-on-hover">
            <h5 class="">17-12-2020</h5>
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent">Xavier Camps</div>
                <div class="card-body ">
                    <h5 class="card-title">Coaching sessions #2: "The Binding of Isaac"</h5>
                    <p class="card-text">¿Te atreves a luchar contra tus mayores miedos? No te preocupes, ya lo hace Xavi por ti. </p>
                </div>
                <div class="card-footer bg-transparent">                    <div class="row">
                        <div class="col-6">
                                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"  routerLink="/chat">
                                  <mat-icon>sms</mat-icon>
                                </button>  
                        </div>
                        <div class="col-6">
                            <button class="btn btn-rosado" data-toggle="modal" data-target="#exampleModalLong">Ver más</button>
                        </div>            
                    </div></div>
            </div>
        </div>
        <div class="col-xl-4 col-xs-12 col-md-6  grow-rotate-on-hover-center">
            <h5 class="">18-12-2020</h5>
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent">Yaiza García</div>
                <div class="card-body ">
                    <h5 class="card-title">Sobrevive el 2020 al más puro estilo "Lara Croft"</h5>
                    <p class="card-text">El 2020 aún no ha terminado. Yaiza nos explicará las mejores técnicas para aguantar lo que queda de año.</p>
                </div>
                <div class="card-footer bg-transparent">                    <div class="row">
                        <div class="col-6">
                                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"  routerLink="/chat">
                                  <mat-icon>sms</mat-icon>
                                </button>  
                        </div>
                        <div class="col-6">
                            <button class="btn btn-rosado" data-toggle="modal" data-target="#exampleModalLong">Ver más</button>
                        </div>            
                    </div></div>
            </div>
        </div>
        <div class="col-xl-4 col-xs-12 col-md-6  grow-rotate-on-hover-left">
            <h5 class="">19-12-2020</h5>
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent">Patrícia Marsà</div>
                <div class="card-body ">
                    <h5 class="card-title">Aprende inglés con los videojuegos</h5>
                    <p class="card-text">¿Se te da regular el inglés? ¡Patrícia te recomienda los mejores (y peores) juegos para aprender mientras juegas! </p>
                </div>
                <div class="card-footer bg-transparent">                    <div class="row">
                        <div class="col-6">
                                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"  routerLink="/chat">
                                  <mat-icon>sms</mat-icon>
                                </button>  
                        </div>
                        <div class="col-6">
                            <button class="btn btn-rosado" data-toggle="modal" data-target="#exampleModalLong">Ver más</button>
                        </div>            
                    </div></div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade rounded-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h5 class="modal-title " id="exampleModalLongTitle">Los juegos y su integracion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h5 class="text-center">Neil Druckmann</h5>
            <hr>
            <div class="row text-center">
                <div class="col-md-4"><fa-icon [icon]="faCalendarDay"></fa-icon><span class="ml-2">21-12-2020</span></div>
                <div class="col-md-4"><button class="btn btn-primary ok"  >Me interesa</button></div>
                <div class="col-md-4"><fa-icon [icon]="faUsers"></fa-icon><span class="ml-2">28</span></div>
            </div>
            <br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem iste voluptates explicabo? Expedita, eum illum natus impedit ullam voluptas enim aliquid officiis iusto voluptatum aperiam eos repellendus suscipit ab voluptatibus?</p>
            <br>
            <div class="row text-center">
                <div>
                    <div class="text-center">
                        <div class="input-group-text"><fa-icon [icon]="faLink" class="mr-2"></fa-icon>  <a target="blank" href="https://www.google.es"> https://www.google.es</a></div>
                    </div>
                </div>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
