<div class="container mt-5">
    <div class="row text-center">
        <h5>Cómo dicen que el saber no ocupa lugar...</h5>
        <h2>APÚNTATE A NUESTRAS CHARLAS</h2>
    </div>
    <!-- <p><a class="nav-link" routerLink="/crearcharla">crearcharla</a></p> -->
   
    <!-- <p><a class="nav-link" routerLink="/crearcharla">crearcharla</a></p> -->

    <div class="row justify-content-center mt-2">
        <div class="col-xl-6">
            <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 border">
                <div class="input-group">
                    <input type="search" [(ngModel)]="tituloCharla" placeholder="Título de charla" #titulo class="form-control border-0 bg-light rounded rounded-pill">
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-xl-3">
            <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 border">
                <div class="input-group">
                    <input type="date" class="form-control border-0 bg-light rounded-pill" [(ngModel)]="fechaCharla"  #fecha value="13-12-2020" min="2018-01-01"max="2020-12-31">
                </div>
            </div>
        </div>
        <div class="col-2">
            <button class="btn btn-rosado buscarReset mt-1" (click)="buscador(titulo.value,fecha.value)" [disabled]="!tituloCharla && !fechaCharla">Buscar</button>
            <button class="btn btn-rosado buscarReset mt-1 ml-2" (click)="reset()" >reset</button>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-rosado crearCharla mt-1" *ngIf="isUserLoggedIn === true; else registro" routerLink="/crearcharla">Crear charla</button>
        <ng-template #registro><button class="btn btn-rosado crearCharla mt-1"  routerLink="/registro">Crear charla</button></ng-template>
    </div>
    <!-- <hr> -->
    <div class="row text-center mt-5">
        <div class="course-card col-xl-4 col-xs-12 col-md-6  grow-rotate-on-hover" *ngFor="let charla of charlas;; let i = index">
            
            <div class="card mb-3" style="max-width: 18rem;"  *ngIf="charlasDefault === false; else charlasBuscador">
                <div class="card-header bg-transparent">{{charla.nombre}}{{charla.apellido}}</div>
                <div class="card-body ">
                    <h5 class="card-title">{{charla.titulo_charla}}</h5>
                    <p class="card-text">{{charla.resumen_charla}}</p>
                </div>
                <div class="card-footer bg-transparent">
                    <div class="row justify-content-center">
                        <!-- <div class="col-6">
                                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"  routerLink="/chat">
                                  <mat-icon>sms</mat-icon>
                                </button>
                        </div> -->
                        <div class="col-6">
                            <button class="btn btn-rosado" data-toggle="modal" (click)="charlaSeleccionada(i)" data-target="#exampleModalLong"  [disabled]="!isUserLoggedIn">Ver más</button>
                        </div>
                    </div>
                </div>
           </div>            
           <ng-template #charlasBuscador>
        
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent">{{charla.nombre}} {{charla.apellido}}</div>
                <div class="card-body ">
                    <h5 class="card-title">{{charla.titulo_charla}}</h5>
                    <p class="card-text">{{charla.resumen_charla}}</p>
                </div>
                <div class="card-footer bg-transparent">
                    <div class="row">
                        <div class="col-6">
                                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"  routerLink="/chat">
                                  <mat-icon>sms</mat-icon>
                                </button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-rosado" data-toggle="modal" data-target="#exampleModalLong"  [disabled]="!isUserLoggedIn">Ver más</button>
                        </div>
                    </div>
                </div>
           </div>   
        </ng-template>
    </div>

</div>
<!-- Modal -->
<div class="modal fade rounded-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h5 class="modal-title " id="exampleModalLongTitle">{{charlaModal.titulo_charla}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h5 class="text-center">{{charlaModal.nombre}}{{charlaModal.apellido}}</h5>
            <hr>
            <div class="row text-center">
                <div class="when col-md-4"><fa-icon [icon]="faCalendarDay"></fa-icon><span class="ml-2">{{charlaModal.fecha_charla}}</span></div>
                <div class="users col-md-4"><fa-icon [icon]="faUsers"></fa-icon><span class="mt-1 ml-2">{{apuntados.apuntados}}</span></div>
                <div class="col-md-4"><button class="btn btn-rosado-modal btn-sm ok" (click)="apuntarse(charlaModal.id_charla)" [disabled]="isApuntado">Me apunto</button></div>
            </div>
            <br>
            <p>{{charlaModal.descripcion_charla}}</p>
            <br>
            <div class="row text-center">
                <div>
                    <div class="text-center">
                        <div class="input-group-text"><fa-icon [icon]="faLink" class="mr-2"></fa-icon>  <a target="blank" href="{{charlaModal.lugar_charla}}">{{charlaModal.lugar_charla}}</a></div>
                    </div>
                </div>
            </div>
          </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-6 text-center">
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" routerLink="/chat">
                        <mat-icon data-dismiss="modal" >sms</mat-icon>
                    </button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
