.card {
  margin: 0 auto;
  background: rgb(255, 254, 250);
  border-radius: 20px;
  border-color: #371a6d;
  border-width: 0.15em;
  box-shadow: 1px 9px 6px -6px rgb(170, 169, 169);
}

.course-card {
  margin-top: 2%;
}

.grow-rotate-on-hover {

  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.grow-rotate-on-hover:hover,
.grow-rotate-on-hover:focus,
.grow-rotate-on-hover:active {
  -webkit-transform: scale(1.1) rotate(3deg);
  z-index: 1;
  transform: scale(1.2) rotate(3deg);
}

.grow-rotate-on-hover-left {

  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.grow-rotate-on-hover-left:hover,
.grow-rotate-on-hover-left:focus,
.grow-rotate-on-hover-left:active {
  -webkit-transform: scale(1.1) rotate(3deg);
  z-index: 1;
  transform: scale(1.2) rotate(-3deg);
}


.grow-rotate-on-hover-center {

  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.grow-rotate-on-hover-center:hover,
.grow-rotate-on-hover-center:focus,
.grow-rotate-on-hover-center:active {
  -webkit-transform: scale(1.1);
  z-index: 1;
  transform: scale(1.2);
}

.btn-rosado {
  color: #ded4f1;
  background-color: #371a6d;
  border-color: #371a6d;
  display: block;
  margin: auto;
  /* width: 50%; */
}

.btn-rosado:hover {
  color: #371a6d;
  background-color: #ded4f1;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.faPlus {
  width: 40px;
  height: 40px;
  color: rgb(25, 93, 25);
}

.link {
  width: 40px;
  height: 40px;
}

.btn-rosado-modal {
  color: #ffffff;
  background-color: #371a6d;
  border-color: #371a6d;
  /* width: 50%; */
}

.btn-rosado:hover {
  color: #371a6d;
  background-color: #ded4f1;
}

h5 {
  margin-top: 5px;
  font-size: 18px;
}

.buscarReset {
  display: inline;
}

.apuntado:disabled {
 
}