<div class="d-flex align-items-sm-center page-container col-xl-12" >

    <div class="login-container col-xl-4">

      <div class="form-container">

        <div class="form-wrapper">
          <h3>Formulario de contacto</h3>
          <form method="post" enctype="text/plain">
            <div class="form-group">
              <label for="email"><h6>Nombre:</h6></label>
              <input class="form-control" type="text" name="name" placeholder="Nombre...">
            </div>
            <div class="form-group">
              <label for="email"><h6>Correo Electrónico:</h6></label>
              <input class="form-control" type="text" name="email" placeholder="Email...">
            </div>
            <div class="form-group">
              <label>
                <h6>Mensaje:</h6>
              </label>
              <div class="form-group ">
                <textarea class="form-control email-message" type="text" name="message" placeholder="Escribe tu mensaje..."></textarea>
              </div>
            </div>
            <div class="form-group mb-4">
              <a href="mailto:caniplaycontacto@gmail.com"><button type="submit" class="btn login-button">Enviar</button></a>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
