
<div class="d-flex align-items-sm-center page-container">

    <div class="login-container">

        <div class="left-container">
            <div class="img-container"></div>

        </div>
        <div class="form-container">
            <div class="logo-container">
                <img class="logo" src="/../../assets/logo/bpchildlefty.regular.png">
            </div>

            <div class="form-wrapper">
                <h3>¡Imparte tu propia charla!</h3>

                <form class="f2-wrapper">
                    <!-- <div class="row">
                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-md-4">
                            <label for="password">
                                <h6>Tu nombre:</h6>
                            </label>
                            <input type="text" class="form-control" placeholder="Juan">
                        </div>
                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-md-4">
                            <label for="password">
                                <h6>Tu apellido:</h6>
                            </label>
                            <input type="text" class="form-control" placeholder="García">
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="form-group mb-2 col-xs-6 col-sm-6 col-md-6 col-md-4">
                            <label for="lugar">
                                <h6>¿Dónde la impartirás? ¿Tal vez online? <br>Si es así, incluye un enlace.</h6>
                            </label>
                            <input type="text" class="form-control" #lugar_charla placeholder="Ej: Discord">
                        </div>
                        <div class="form-group mb-2 col-xs-6 col-sm-6 col-md-6 col-md-4">
                            <label for="email">
                                <h6>Fecha:</h6>
                            </label>
                            <div class="input-group">
                                <input type="date" class="form-control" #fecha_charla value="13-12-2020" min="2018-01-01" max="2022-12-31">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group mb-2 col-xs-6 col-sm-6 col-md-6 col-md-4">
                            <label for="password">
                                <h6>Título de la charla:</h6>
                            </label>
                            <input type="text" class="form-control" #titulo_charla placeholder="Ej: Tolerancia a la frustración">
                        </div>
                        <div class="form-group mb-2 col-xs-6 col-sm-6 col-md-6 col-md-4">
                            <label for="password">
                                <h6>Escribe una breve descripción:</h6>
                            </label>
                            <div class="form-group ">
                                <textarea name="txtMsg" class="form-control descripcion-charla" #descripcion_charla placeholder="Ej: Los niños rompen mandos. Te enseño a que no rompan mandos."></textarea>
                            </div>
                        </div>
                        <div class="form-group mb-2 col-xs-6 col-sm-6 col-md-6 col-md-4">
                            <label for="password">
                                <h6>Escribe una breve descripción:</h6>
                            </label>
                            <div class="form-group ">
                                <textarea name="txtMsg" class="form-control descripcion-charla" #resumen_charla placeholder="Ej: Los niños rompen mandos. Te enseño a que no rompan mandos."></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-4 justify-content-around">
                        <button type="button" class="btn register-button mb-3" (click)="crearCharla(titulo_charla.value,fecha_charla.value,descripcion_charla.value,resumen_charla.value,lugar_charla.value)">Crear charla</button>
                    </div>
                </form>

            </div>

        </div>

    </div>

</div>
