


/* .login-container {
  height: 84%;
  width: 55%;
  background-color: #ffffff;
  border-radius: 35px;
  /* box-shadow: 2px, ; 
  box-shadow: 1px 9px 6px -6px rgb(170, 169, 169);
} */

  .imagenTop:hover {
    transform: scale(1.08);
    
  }

  .imagenTop {
    transition: transform .25s ease;
  }

  .pegi {
      width: 30px;
  }
.imagenTop {
    width: 166px;
    height: 209px;
}