/* .login-container {
  height: 84%;
  width: 55%;
  background-color: #ffffff;
  border-radius: 35px;
  /* box-shadow: 2px, ;
  box-shadow: 1px 9px 6px -6px rgb(170, 169, 169);
} */

h1 {
  text-align: center;
  margin-top: 3%;
}

.game_title {
  font-weight: 500;
}

.magic {
  background: rgb(255, 254, 250);
  border-width: 0.6em;
  border-color: #371a6d;
  border-style: solid;
  padding: 2% 2% 2% 2%;
  border-radius: 15px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 4px 6px 20px 4px rgba(0, 0, 0, 0.19);
  margin-top: 3.5%;
}

.pegi-red {
  border-color: #b80015;
}

.pegi-orange {
  border-color: #e69901;
}

.pegi-green {
  border-color: #a1bd01;
}

.imagenTop:hover {
  transform: scale(1.08);
}

.pegi {
  width: 30px;
  margin-bottom: 3%;
  margin-top: 2%;
}

.imagenTop {
  transition: transform .25s ease;
}

.imagenTop {
  width: 150px;
  height: 209px;
  margin-bottom: 3.5%;
  border: 3px solid #371a6d;
  border-radius: 5px;
  box-shadow: 4px 10px 16px -6px rgb(145, 143, 143);
}
