<!-- <div class="d-flex align-items-sm-center page-container"> -->


<div class="container">
    <div class="row text-center mt-4">
        <h2>TOP <span style="font-weight: bold; font-size: 50px;">5</span> CAN I PLAY</h2>
    </div>
    <hr>
    <div  class="row  justify-content-center text-center">
        <div class="col-md-2">
            <img alt="picture" src="https://images-na.ssl-images-amazon.com/images/I/91kYuA0zo0L._AC_SL1500_.jpg"
                class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
                onclick="myFunction('img/marksmenkingblack_180x.png')">
            <br>
            <span id="game">Crash bandicoot</span>
            <br>
            <span><b>PS4</b><b id="plataforma"></b></span>
            <br>
            <button type="button" class="btn btn-dark" id="producto">Ver</button>
        </div>
        <div class="col-md-2">
            <img alt="picture" src="https://images-na.ssl-images-amazon.com/images/I/81%2BpdXH3fjL._AC_SL1500_.jpg"
                class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
                onclick="myFunction('img/marksmenkingblack_180x.png')">
            <br>
            <span id="game">Cyberpunk 2077 </span>
            <span><b>PS4/XBOX/PC</b><b id="plataforma"></b></span>
            <br>
            <button type="button" class="btn btn-dark" id="producto">Ver</button>
        </div>
        <div class="col-md-2">
            <img alt="picture" src="https://64.media.tumblr.com/4a8aade31d32ce4819e24a8f0ed1cca7/b4ee4f64d226e051-04/s640x960/b01aef19960ce261037c2a47fda39f6dc1859ac5.jpg"
                class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
                onclick="myFunction('img/marksmenkingblack_180x.png')">
            <br>
            <span id="game">League of Legends</span>
            <br>
            <span><b>PC</b><b id="plataforma"></b></span>
            <br>
            <button type="button" class="btn btn-dark" id="producto">Ver</button>
        </div>
        <div class="col-md-2">
            <img alt="picture" src="https://images-na.ssl-images-amazon.com/images/I/81OFTUvFX4L._AC_SL1500_.jpg"
                class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
                onclick="myFunction('img/marksmenkingblack_180x.png')">
            <br>
            <span id="game">The last of Us.PartII</span>
            <br>
            <span><b>PS4</b><b id="plataforma"></b></span>
            <br>
            <button type="button" class="btn btn-dark" id="producto">Ver</button>
        </div>
        <div class="col-md-2">
            <img alt="picture" src="https://images-na.ssl-images-amazon.com/images/I/811ChVACmaL._AC_SL1500_.jpg"
                class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
                onclick="myFunction('img/marksmenkingblack_180x.png')">
            <br>
            <span id="game">Tomb Raider</span>
            <br>
            <span><b>PS4/XBOX/PC</b><b id="plataforma"></b></span>
            <br>
            <button type="button" class="btn btn-dark" id="producto">Ver</button>
        </div>

 <!-- <-- CATEGORIA PEGI 3 --> 

    <div class="row text-center mt-4">
        <h2>TOP PEGI <span style="font-weight: bold; font-size: 50px;">3</span> </h2>
    </div>
    <hr>
    <div class="row  justify-content-center text-center">
        <div class="col-md-2">
            <img alt="picture" src="https://images-na.ssl-images-amazon.com/images/I/91kYuA0zo0L._AC_SL1500_.jpg"
                class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
                onclick="myFunction('img/marksmenkingblack_180x.png')">
            <br>
            <span id="game">Crash bandicoot</span>
            <br>
            <span><b>PS4</b><b id="plataforma"></b></span>
            <br>
            <button type="button" class="btn btn-dark" id="producto">Ver</button>
        </div>
        <div class="col-md-2">
            <img alt="picture" src="https://images-na.ssl-images-amazon.com/images/I/81PlF%2BHTScL._AC_SL1500_.jpg"
                class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
                onclick="myFunction('img/marksmenkingblack_180x.png')">
            <br>
            <span id="game">Super Mario Party </span>
            <span><b>SWITCH</b><b id="plataforma"></b></span>
            <br>
            <button type="button" class="btn btn-dark" id="producto">Ver</button>
        </div>
        <div class="col-md-2">
            <img alt="picture"
                src="https://d8mkdcmng3.imgix.net/f077/753221.jpg?auto=format&bg=0FFF&fit=fill&h=600&q=100&w=600&s=f41f43c2b36e88393202580934475756"
                class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
                onclick="myFunction('img/marksmenkingblack_180x.png')">
            <br>
            <span id="game">Paw Patrol</span>
            <br>
            <span><b>PC/SWITCH/PS4</b><b id="plataforma"></b></span>
            <br>
            <button type="button" class="btn btn-dark" id="producto">Ver</button>
        </div>
        <div class="col-md-2">
            <img alt="picture" src="https://images-na.ssl-images-amazon.com/images/I/71sT6IkxThL._AC_SL1000_.jpg"
                class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
                onclick="myFunction('img/marksmenkingblack_180x.png')">
            <br>
            <span id="game">Animal Crossing</span>
            <br>
            <span><b>SWITCH</b><b id="plataforma"></b></span>
            <br>
            <button type="button" class="btn btn-dark" id="producto">Ver</button>
        </div>
        <div class="col-md-2">
            <img alt="picture" src="https://images-na.ssl-images-amazon.com/images/I/81w4hDOorIL._AC_SL1500_.jpg"
                class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
                onclick="myFunction('img/marksmenkingblack_180x.png')">
            <br>
            <span id="game">Mario & Sonic</span>
            <br>
            <span><b>SWITCH</b><b id="plataforma"></b></span>
            <br>
            <button type="button" class="btn btn-dark" id="producto">Ver</button>
        </div>

    </div>


<!-- <-- CATEGORIA PEGI 7 -->
    <div class="row text-center mt-4">
        <h2>TOP PEGI <span style="font-weight: bold; font-size: 50px;">7</span> </h2>
    </div>
    <hr>
    <div class="row  justify-content-center text-center">
        <div class="col-md-2">
            <img alt="picture" src="https://images-na.ssl-images-amazon.com/images/I/815ba7faJjL._AC_SL1500_.jpg"
                class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
                onclick="myFunction('img/marksmenkingblack_180x.png')">
            <br>
            <span id="game">SPYRO</span>
            <br>
            <span><b>PS4/SWITCH</b><b id="plataforma"></b></span>
            <br>
            <button type="button" class="btn btn-dark" id="producto">Ver</button>
        </div>
        <div class="col-md-2">
            <img alt="picture" src="https://cdn-products.eneba.com/resized-products/InlPQPt7WRDHBRnySANJHVQrS2whLdUdTX9JB7djmGw_350x200_3x-0.jpeg"
                class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
                onclick="myFunction('img/marksmenkingblack_180x.png')">
            <br>
            <span id="game">Among Us</span>
            <br>
            <span><b>PC</b><b id="plataforma"></b></span>
            <br>
            <button type="button" class="btn btn-dark" id="producto">Ver</button>
        </div>
        <div class="col-md-2">
            <img alt="picture"
                src="https://images-na.ssl-images-amazon.com/images/I/91QEkbiqDHL._AC_SL1500_.jpg"
                class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
                onclick="myFunction('img/marksmenkingblack_180x.png')">
            <br>
            <span id="game">Crash Bandicoot</span>
            <br>
            <span><b>PS4</b><b id="plataforma"></b></span>
            <br>
            <button type="button" class="btn btn-dark" id="producto">Ver</button>
        </div>
        <div class="col-md-2">
            <img alt="picture" src="https://images-na.ssl-images-amazon.com/images/I/913V%2BirTARL._AC_SL1500_.jpg"
                class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
                onclick="myFunction('img/marksmenkingblack_180x.png')">
            <br>
            <span id="game">Ratchet and Clank</span>
            <br>
            <span><b>PS4</b><b id="plataforma"></b></span>
            <br>
            <button type="button" class="btn btn-dark" id="producto">Ver</button>
        </div>
        <div class="col-md-2">
            <img alt="picture" src="https://m.media-amazon.com/images/I/81z+zbr-ltL._AC_SL1500_.jpg"
                class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
                onclick="myFunction('img/marksmenkingblack_180x.png')">
            <br>
            <span id="game">Lego Harry Potter</span>
            <br>
            <span><b>XBOX/SWITCH/PS4</b><b id="plataforma"></b></span>
            <br>
            <button type="button" class="btn btn-dark" id="producto">Ver</button>
        </div>
    
    </div>

<!-- <-- CATEGORIA PEGI 12 -->
<div class="row text-center mt-4">
    <h2>TOP PEGI <span style="font-weight: bold; font-size: 50px;">12</span> </h2>
</div>
<hr>
<div class="row  justify-content-center text-center">
    <div class="col-md-2">
        <img alt="picture" src="https://images-na.ssl-images-amazon.com/images/I/815ba7faJjL._AC_SL1500_.jpg"
            class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
            onclick="myFunction('img/marksmenkingblack_180x.png')">
        <br>
        <span id="game">SPYRO</span>
        <br>
        <span><b>PS4/SWITCH</b><b id="plataforma"></b></span>
        <br>
        <button type="button" class="btn btn-dark" id="producto">Ver</button>
    </div>
    <div class="col-md-2">
        <img alt="picture"
            src="https://cdn-products.eneba.com/resized-products/InlPQPt7WRDHBRnySANJHVQrS2whLdUdTX9JB7djmGw_350x200_3x-0.jpeg"
            class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
            onclick="myFunction('img/marksmenkingblack_180x.png')">
        <br>
        <span id="game">Among Us</span>
        <br>
        <span><b>PC</b><b id="plataforma"></b></span>
        <br>
        <button type="button" class="btn btn-dark" id="producto">Ver</button>
    </div>
    <div class="col-md-2">
        <img alt="picture" src="https://images-na.ssl-images-amazon.com/images/I/91QEkbiqDHL._AC_SL1500_.jpg"
            class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
            onclick="myFunction('img/marksmenkingblack_180x.png')">
        <br>
        <span id="game">Crash Bandicoot</span>
        <br>
        <span><b>PS4</b><b id="plataforma"></b></span>
        <br>
        <button type="button" class="btn btn-dark" id="producto">Ver</button>
    </div>
    <div class="col-md-2">
        <img alt="picture" src="https://images-na.ssl-images-amazon.com/images/I/913V%2BirTARL._AC_SL1500_.jpg"
            class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
            onclick="myFunction('img/marksmenkingblack_180x.png')">
        <br>
        <span id="game">Ratchet and Clank</span>
        <br>
        <span><b>PS4</b><b id="plataforma"></b></span>
        <br>
        <button type="button" class="btn btn-dark" id="producto">Ver</button>
    </div>
    <div class="col-md-2">
        <img alt="picture" src="https://m.media-amazon.com/images/I/81z+zbr-ltL._AC_SL1500_.jpg"
            class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
            onclick="myFunction('img/marksmenkingblack_180x.png')">
        <br>
        <span id="game">Lego Harry Potter</span>
        <br>
        <span><b>XBOX/SWITCH/PS4</b><b id="plataforma"></b></span>
        <br>
        <button type="button" class="btn btn-dark" id="producto">Ver</button>
    </div>

</div>


<!-- <-- CATEGORIA PEGI 16 -->
<div class="row text-center mt-4">
    <h2>TOP PEGI <span style="font-weight: bold; font-size: 50px;">16</span> </h2>
</div>
<hr>
<div class="row  justify-content-center text-center">
    <div class="col-md-2">
        <img alt="picture" src="https://images-na.ssl-images-amazon.com/images/I/815ba7faJjL._AC_SL1500_.jpg"
            class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
            onclick="myFunction('img/marksmenkingblack_180x.png')">
        <br>
        <span id="game">SPYRO</span>
        <br>
        <span><b>PS4/SWITCH</b><b id="plataforma"></b></span>
        <br>
        <button type="button" class="btn btn-dark" id="producto">Ver</button>
    </div>
    <div class="col-md-2">
        <img alt="picture"
            src="https://cdn-products.eneba.com/resized-products/InlPQPt7WRDHBRnySANJHVQrS2whLdUdTX9JB7djmGw_350x200_3x-0.jpeg"
            class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
            onclick="myFunction('img/marksmenkingblack_180x.png')">
        <br>
        <span id="game">Among Us</span>
        <br>
        <span><b>PC</b><b id="plataforma"></b></span>
        <br>
        <button type="button" class="btn btn-dark" id="producto">Ver</button>
    </div>
    <div class="col-md-2">
        <img alt="picture" src="https://images-na.ssl-images-amazon.com/images/I/91QEkbiqDHL._AC_SL1500_.jpg"
            class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
            onclick="myFunction('img/marksmenkingblack_180x.png')">
        <br>
        <span id="game">Crash Bandicoot</span>
        <br>
        <span><b>PS4</b><b id="plataforma"></b></span>
        <br>
        <button type="button" class="btn btn-dark" id="producto">Ver</button>
    </div>
    <div class="col-md-2">
        <img alt="picture" src="https://images-na.ssl-images-amazon.com/images/I/913V%2BirTARL._AC_SL1500_.jpg"
            class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
            onclick="myFunction('img/marksmenkingblack_180x.png')">
        <br>
        <span id="game">Ratchet and Clank</span>
        <br>
        <span><b>PS4</b><b id="plataforma"></b></span>
        <br>
        <button type="button" class="btn btn-dark" id="producto">Ver</button>
    </div>
    <div class="col-md-2">
        <img alt="picture" src="https://m.media-amazon.com/images/I/81z+zbr-ltL._AC_SL1500_.jpg"
            class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
            onclick="myFunction('img/marksmenkingblack_180x.png')">
        <br>
        <span id="game">Lego Harry Potter</span>
        <br>
        <span><b>XBOX/SWITCH/PS4</b><b id="plataforma"></b></span>
        <br>
        <button type="button" class="btn btn-dark" id="producto">Ver</button>
    </div>

</div>

<!-- <-- CATEGORIA PEGI 18 -->
<div class="row text-center mt-4">
    <h2>TOP PEGI <span style="font-weight: bold; font-size: 50px;">18</span> </h2>
</div>
<hr>
<div class="row  justify-content-center text-center">
    <div class="col-md-2">
        <img alt="picture" src="https://images-na.ssl-images-amazon.com/images/I/815ba7faJjL._AC_SL1500_.jpg"
            class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
            onclick="myFunction('img/marksmenkingblack_180x.png')">
        <br>
        <span id="game">SPYRO</span>
        <br>
        <span><b>PS4/SWITCH</b><b id="plataforma"></b></span>
        <br>
        <button type="button" class="btn btn-dark" id="producto">Ver</button>
    </div>
    <div class="col-md-2">
        <img alt="picture"
            src="https://cdn-products.eneba.com/resized-products/InlPQPt7WRDHBRnySANJHVQrS2whLdUdTX9JB7djmGw_350x200_3x-0.jpeg"
            class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
            onclick="myFunction('img/marksmenkingblack_180x.png')">
        <br>
        <span id="game">Among Us</span>
        <br>
        <span><b>PC</b><b id="plataforma"></b></span>
        <br>
        <button type="button" class="btn btn-dark" id="producto">Ver</button>
    </div>
    <div class="col-md-2">
        <img alt="picture" src="https://images-na.ssl-images-amazon.com/images/I/91QEkbiqDHL._AC_SL1500_.jpg"
            class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
            onclick="myFunction('img/marksmenkingblack_180x.png')">
        <br>
        <span id="game">Crash Bandicoot</span>
        <br>
        <span><b>PS4</b><b id="plataforma"></b></span>
        <br>
        <button type="button" class="btn btn-dark" id="producto">Ver</button>
    </div>
    <div class="col-md-2">
        <img alt="picture" src="https://images-na.ssl-images-amazon.com/images/I/913V%2BirTARL._AC_SL1500_.jpg"
            class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
            onclick="myFunction('img/marksmenkingblack_180x.png')">
        <br>
        <span id="game">Ratchet and Clank</span>
        <br>
        <span><b>PS4</b><b id="plataforma"></b></span>
        <br>
        <button type="button" class="btn btn-dark" id="producto">Ver</button>
    </div>
    <div class="col-md-2">
        <img alt="picture" src="https://m.media-amazon.com/images/I/81z+zbr-ltL._AC_SL1500_.jpg"
            class="img-fluid imagenTop" data-toggle="modal" data-target="#exampleModalLong"
            onclick="myFunction('img/marksmenkingblack_180x.png')">
        <br>
        <span id="game">Lego Harry Potter</span>
        <br>
        <span><b>XBOX/SWITCH/PS4</b><b id="plataforma"></b></span>
        <br>
        <button type="button" class="btn btn-dark" id="producto">Ver</button>
    </div>

</div>


    </div>

</div> 