<div class="container mt-5">
      <div class="row text-center">
        <h2>SUGERENCIAS</h2>
      </div>
    <div class="row">
        <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            <!-- <input matInput name="" id=""> -->
          </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>

              </th>
              <td mat-cell *matCellDef="let row">
                <mat-slide-toggle color="primary">
            </mat-slide-toggle>
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Título </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Motivo Column -->
            <ng-container matColumnDef="motivo">
              <th mat-header-cell *matHeaderCellDef>Motivo </th>
              <td mat-cell *matCellDef="let element"> {{element.motivo}} </td>
            </ng-container>


            <!-- Añadir Column -->
            <ng-container matColumnDef="add">
                <th mat-header-cell *matHeaderCellDef>Añadir </th>
                <td mat-cell *matCellDef="let element">
                    <button style="color: green;" color="basic" mat-mini-fab aria-label="Example icon button with a delete icon" routerLink="/crearjuego">
                        <mat-icon>check</mat-icon>
                      </button>
                </td>
              </ng-container>


            <!-- Borrar Column -->
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>Borrar</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab color="basic" (click)="delete(element)" aria-label="Example icon button with a delete icon" #id>
                        <mat-icon>delete</mat-icon>
                      </button>
                     </td>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row)">
            </tr>

          </table>

          <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>

    </div>
</div>

